
<div class="row" style="  background-color: #0d0f1c;" >

  <div class="col-3 col-md-2 " style="padding-right: 0;"><app-sidebar></app-sidebar></div>

<div class="col-9 col-md-10" style="padding-left: 10%;padding-right: 10%;">
  <div class="container mt-5">
    <table class=" custom-table">
      <thead>
        <tr>
          <th>Short Link</th>
          <th>Original Link</th>
          <th>Qrcode</th>
          <th>Clicks</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-row" *ngFor ="let link of links">
          <td>
            <span> {{link.shortenedUrl}}</span>

          </td>
          <td>
           <span> <img [src]="getFaviconUrl(link.originalUrl)" width="24" height="24" alt="favicon" />
           {{ link.originalUrl.substring(0,20)+
            "..." }}
          <button class="copy-btn ms-2" (click)="copyToClipboard(link.originalUrl)">
            <i class="fa-solid fa-copy"></i>
          </button>
          </span>
          </td>
          <td>
            <qrcode [qrdata]="link.originalUrl" [width]="90" [errorCorrectionLevel]="'M'"></qrcode>
          </td>
          <td>{{ link.accessCount }}</td>
          <td>{{ link.updatedAt ? link.updatedAt.substring(0,10) : link.createdAt.substring(0,10) }}</td>
        </tr>
       </tbody></table>

</div>

  </div>
<router-outlet></router-outlet>
<app-footer style="position: relative;

left: 0;
right: 0;
z-index: 2;"></app-footer>
